<!-- Loop over each object in the blogs array -->
{{#each post as |post| }}
<div class="columns mb-4">
  <div class="column is-5">
    <h2 class="title">    
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Written by {{username}} on {{post.date_created}}</p>
  </div>
  <div class="column is-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}
